{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="login-container">
    <h2>Create an Account</h2>
    <form method="post">
        {% csrf_token %}
        <div class="input-box">
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </div>
        <div class="input-box">
            {{ form.email.label_tag }}<br>
            {{ form.email }}
        </div>
        <div class="input-box">
            {{ form.password1.label_tag }}<br>
            {{ form.password1 }}
        </div>
        <div class="input-box">
            {{ form.password2.label_tag }}<br>
            {{ form.password2 }}
        </div>
        <button type="submit">Register</button>
        <div class="register-link">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}
