{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <h1>D - HOME</h1>
    <nav>
      <span>{{ user.username }}</span> |

      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="
            color: #fff;
   font-size: 14px;
   margin-left: 15px;
   padding: 4px 6px;        /* less horizontal padding */
   border-radius: 5px;
   background: #03a9f4;
   transition: background 0.3s;
   min-width: 60px;         /* sets a minimum width */
   text-align: center;
        ">
          Logout
        </button>
      </form>

    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
